.App {
  text-align: center;
}

body{
  margin: auto
}

.navey {
  position: fixed;
  width: 100%;
  box-shadow: 0 2px 2px -2px rgba(0,0,5,.5);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.loadingPage {
  height: 400px;
}

.spinner-border{
  margin: 0 auto;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.trackcard{
  transition: transform .2s;
}

.trackcard:hover {
  resize: 103%;
  transform: scale(1.025);
}

.body {
  background-color: white;
}
.searchDiv{
  display: flex;
  padding: 150px;
  height: 443px;
  background-image: url('/background.jpg');
}

.searchDivElement{
  margin: 2px;
}

.button {
  size: 95%;
}

h1 {
  margin: auto;
  font-size: 150%;
}

.title {
  text-align: center;
}

.card-img {
  height: 200px;
  width: 200px;
}

.card {
  margin: 0 auto;
  height: 202px;
  width: 600px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
